.container {
    display: flex;
  }
  
  .grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f1faee;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .grid div {
    height: 20px;
    width: 20px;
  }
  
  .tetromino {
    background-color: #ffcc00;
    border-radius: 5px;
  } 
  
  .mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f1faee;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .mini-grid div {
    height: 20px;
    width: 20px;
  }
  
  #start-button {
    color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer; 
    background-color: #e63946;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  #start-button:hover {
    color: #e63946;
    background-color: #f1faee;
  }

  h3 {
    color: #3399cc;
    font-size: 24px;
  }